html body {
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  color: #fff;
  background-color: #000;
}

::selection {
  background-color: #fff;
  color: #000;
}
.mobile-header {
  display: none;
}
s p {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.mainartboard {
  width: 100%;
  height: 750px;
  /* border: #fff solid 1px; */
}

.name {
  color: white;
  position: absolute;
  font-size: 170px;
  font-weight: 600;
}
.button-name {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}

.main-button {
  background-color: #000;
  border-left: #fff solid 1px;
  border-bottom: #fff solid 1px;
  margin-bottom: 1.5px;
  width: 520px;
  height: 249px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button-1 {
  position: absolute;
  right: 0px;
  top: 0px;

  transition: 0.5s;
  color: #fff;
}
.main-button-1:hover {
  background-color: tomato;
  color: #000;
}
.main-button-2 {
  position: absolute;
  right: 0px;
  top: 250px;

  transition: 0.5s;
  color: #fff;
}
.main-button-2:hover {
  background-color: #f74f92;
  color: #000;
}
.main-button-3 {
  position: absolute;
  right: 0px;
  top: 500px;

  transition: 0.5s;
  color: #fff;
}
.main-button-3:hover {
  background-color: #ffd000;
  color: #000;
}

.mainbottom {
  width: 100%;
  height: calc(100vh - 770px);
  border-top: #fff solid 1px;
  box-sizing: border-box;
}

/* sub-page */
.sub-body {
  background-color: #000;
}
.sub-fix {
  position: fixed;
}
.sub-title {
  width: 200px;
  height: 100px;

  font-size: 50px;
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
  border-right: #fff solid 1px;
  border-bottom: #fff solid 1px;
  box-sizing: border-box;
  position: absolute;
}
.sub-1 {
  color: tomato;
  background-color: tomato;
  transition: 0.5s;
}
.sub-ma {
  color: #f74f92;
  background-color: #f74f92;
  transition: 0.5s;
}
.sub-p5 {
  color: #ffd000;
  background-color: #ffd000;
  transition: 0.5s;
}
.sub-title:hover {
  background-color: #000;
}

.header {
  width: 3000px;
  height: 100px;
  background-color: #000;
  border-bottom: #fff solid 1px;
  box-sizing: border-box;
}
.header ul {
  display: flex;
  color: #fff;
  position: absolute;
  left: calc(100vw - 450px);
}
.header ul li {
  list-style: none;
  margin: 24px 15px;
  font-size: 18px;
}
.selected-1 {
  color: tomato;
  font-weight: 600;
}
.selected-ma {
  color: #f74f92;
  font-weight: 600;
}
.selected-p5 {
  color: #ffd000;
  font-weight: 600;
}
.sub-menu-3d:hover {
  background-color: tomato;
  color: #000;
}
.sub-menu-1 {
  transition: 0.3s;
}
.sub-menu-2 {
  transition: 0.3s;
}
.sub-menu-2:hover {
  background-color: #f74f92;
  color: #000;
}
.sub-menu-3 {
  transition: 0.3s;
}
.sub-menu-3:hover {
  background-color: #ffd000;
  color: #000;
}
.sub-fix-2 {
  top: 100px;
  position: fixed;
  width: 200px;
  height: 1080px;
  border-right: #fff solid 1px;
  box-sizing: border-box;
  display: inline;
}
.sub-name {
  color: rgb(49, 49, 49);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  font-size: 70px;
  font-weight: 600;
  margin: 55px 15px;
  left: -32px;
}
.sub-inner {
  padding: 100px 0 0 200px;
}
.sub-contents {
  margin: 50px 50px 100px 50px;
  padding-bottom: 30px;
  border-bottom: #fff solid 1px;
}
.sub-cont-title {
  font-size: 60px;
  font-weight: 600px;
  display: inline;
}
.sub-year {
  font-size: 36px;
  display: inline;
  margin-left: 8px;
}
.sub-main {
  height: 30vw;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.sub-thumbnail {
  float: left;
}
.youtubelink {
  /* width: 900px;
  height: 520px; */
  width: 55vw;
  height: 30vw;
}
.sub-info {
  padding: 30px;
  border-left: #fff solid 1px;
  font-family: "pretendard";
}
.sub-info-small {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}
.sub-info-text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 26px;
}
.sub-info-source {
  width: 460px;
  position: absolute;
  bottom: 150px;
  font-size: 14px;
}
.sub-detail {
  height: 180px;
  display: flex;
  gap: 30px;
}
.sub-detail-1 {
  height: 180px;
}
.sub-detail-img-s {
  height: 180px;
  transition: 0.5s;
}
.sub-detail-img-s:hover {
  height: 200px;
}
.sub-detail-img-l {
  width: 100%;
}
.sub-detail img:hover {
}

/*practice*/
.practice {
  position: absolute;
}
.sub-main-pt {
  height: 600px;
}
.sub-thumbnail-pt {
  padding-right: 20px;
}
.sub-info-pt {
  height: 540px;
}

@media (max-width: 500px) {
  .mobile-header {
    display: block;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #fff solid 1px;
  }
  .mobile-header .header-name {
    color: #fff;
    font-size: 36px;
    text-align: center;
  }
  .mainartboard {
    display: none;
  }
  .main-button-box {
    position: relative;
  }
  .main-button {
    background-color: #000;
    border-bottom: #fff solid 1px;
    width: 100vw;
    height: 199px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .main-button-1 {
    position: absolute;
    right: 0px;
    top: 0px;
    transition: 0.5s;
    color: #fff;
  }

  .main-button-2 {
    position: absolute;
    right: 0px;
    top: 200px;
    transition: 0.5s;
    color: #fff;
  }

  .main-button-3 {
    position: absolute;
    right: 0px;
    top: 400px;
    transition: 0.5s;
    color: #fff;
  }

  .mainbottom {
    display: none;
  }

  /* sub */
  .sub-title {
    width: 100px;
    height: 80px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 22px 0;
    border-right: #fff solid 1px;
    border-bottom: #fff solid 1px;
    box-sizing: border-box;
    position: absolute;
  }
  .sub-1 {
    color: tomato;
    background-color: tomato;
    transition: 0.5s;
  }
  .sub-ma {
    color: #f74f92;
    background-color: #f74f92;
    transition: 0.5s;
  }
  .sub-p5 {
    color: #ffd000;
    background-color: #ffd000;
    transition: 0.5s;
  }
  .sub-title:hover {
    background-color: #000;
  }

  .header {
    width: 3000px;
    height: 80px;
    background-color: #000;
    border-bottom: #fff solid 1px;
    box-sizing: border-box;
  }
  .header ul {
    display: flex;
    color: #fff;
    position: absolute;
    left: calc(100vw - 350px);
  }
  .header ul li {
    list-style: none;
    margin: 16px 10px;
    font-size: 16px;
  }
  .selected-1 {
    color: tomato;
    font-weight: 600;
  }
  .selected-ma {
    color: #f74f92;
    font-weight: 600;
  }
  .selected-p5 {
    color: #ffd000;
    font-weight: 600;
  }
  .sub-menu-3d:hover {
    background-color: tomato;
    color: #000;
  }
  .sub-menu-1 {
    transition: 0.3s;
  }
  .sub-menu-2 {
    transition: 0.3s;
  }
  .sub-menu-2:hover {
    background-color: #f74f92;
    color: #000;
  }
  .sub-menu-3 {
    transition: 0.3s;
  }
  .sub-menu-3:hover {
    background-color: #ffd000;
    color: #000;
  }
  .sub-fix-2 {
    display: none;
  }
  .sub-name {
    color: rgb(49, 49, 49);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    font-size: 70px;
    font-weight: 600;
    margin: 55px 15px;
    left: -32px;
  }
  .sub-inner {
    padding: 100px 0 0 0px;
  }
  .sub-contents {
    margin: 50px 30px 100px 30px;
    padding-bottom: 30px;
    border-bottom: #fff solid 1px;
  }
  .sub-cont-title {
    font-size: 36px;
    font-weight: 600px;
    display: inline;
    margin-bottom: 10px;
  }
  .sub-year {
    font-size: 16px;
    display: inline;
    margin-left: 1px;
  }
  .sub-main {
    height: auto;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  .sub-thumbnail {
    float: none;
  }
  .youtubelink {
    /* width: 900px;
    height: 520px; */
    width: calc(100vw - 60px);
    height: 50vw;
  }
  .sub-info {
    padding: 0px;
    border-left: none;
    font-family: "pretendard";
  }
  .sub-info-small {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  .sub-info-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
  }
  .sub-info-source {
    width: 460px;
    position: absolute;
    bottom: 150px;
    font-size: 14px;
  }
  .sub-detail {
    width: calc(100vw - 60px);
    overflow: scroll;
    height: 100px;
    display: flex;
    gap: 30px;
  }
  .sub-detail-1 {
    height: 180px;
  }
  .sub-detail-img-s {
    height: 100px;
    transition: 0.5s;
  }
  .sub-detail-img-s:hover {
    height: 200px;
  }
  .sub-detail-img-l {
    width: 100%;
  }
  .sub-detail img:hover {
  }
}
